<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>JspExamplesForEmployees</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ExpLang</display-name>
    <servlet-name>ExpLang</servlet-name>
    <servlet-class>com.tutorial.jsp.el.ExpLang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpLang</servlet-name>
    <url-pattern>/ExpLang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAjaxServlet</display-name>
    <servlet-name>GetAjaxServlet</servlet-name>
    <servlet-class>com.tutorial.jsp.ajax.GetAjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAjaxServlet</servlet-name>
    <url-pattern>/GetAjaxServlet</url-pattern>
  </servlet-mapping>
</web-app>